import React, { FunctionComponent, ReactElement } from 'react';
import './{{dashCase name}}-page.scss';
import { K2Render } from 'app/k2-mui-core';
import { {{pascalCase name}}FormDefinitions } from 'app/models';

class Props {
    formControls: any;
    formDefinitions: {{pascalCase name}}FormDefinitions;
}

export class {{pascalCase name}}PageRender extends K2Render<Props> {
    constructor(props?: Props) {
        super();
        this.override({ props });
    }

    props = new Props();
    Component: FunctionComponent<Props> = ({ formControls, formDefinitions, ...props }): ReactElement => {
        return <div className="{{dashCase name}}-page">{{pascalCase name}} Displays!</div>;
    };
}
